/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    font-family: 'EB Garamond', serif;
    font-stretch: 1.4em;
}
html, body { height: 100%; }
p {
    font-size: 21px;
}
h4 {
    font-size: 24px;
}
h3 {
    font-size: 26px;
}
h2 {
    font-size: 28px;
}
h1 {
    font-size: 30px;
}
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
