$color1: rgba(0, 166, 251, 1);
$color2: rgba(5, 130, 202, 1);
$color3: rgba(0, 100, 148, 1);
$color4: rgb(0, 52, 82);
$color5: rgb(20, 29, 37);
$color6: rgb(245, 245, 245);
$color7: rgb(255, 153, 20);

body {
  background: rgb(238, 238, 238);
}

.navbar {
  top: 0;
  width: 100%;
  height: 4vh;
  position: fixed;
  background-image: linear-gradient(
    to right top,
    #222933,
    #202731,
    #1e252f,
    #1d232d,
    #1b212b
  );
  padding: 0.5rem 0;
  z-index: 2;
  -webkit-box-shadow: 0px 30px 80px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 30px 80px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 30px 80px 0px rgba(0, 0, 0, 0.1);

  .nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .nav-link {
      text-decoration: none;
      cursor: pointer;

      .ni {
        padding: 0.3rem 1rem;
        color: white;
        transition: background-color 0.3s ease-in-out,
          border-radius 0.2s ease-in-out;
      }

      .ni:hover {
        border-radius: 15px;
        background-color: $color1;
      }
    }
  }
}

.wrapper {
  color: rgb(18, 18, 32);

  section:nth-child(odd) {
    background-color: rgb(238, 238, 238);
  }

  section:nth-child(even) {
    background-color: rgb(255, 255, 255);
  }
}

section {
  padding: 2rem 4rem;
}

#section-apresentacao {
  background-image: url("/assets/fachada.jpg");
  background-position: 60% 40%;
  background-size: cover;
  text-align: center;
  #logo{
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  #fachada {
    width: 25%;
  }
  h1{
    color: #1b212b;
    background-color: rgba(255, 255, 255, 0.3);;
  }
}

#secion-contato {
  background-color: rgba(255, 237, 119, 0.8);
  img {
    width: 200px;
  }
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}
.contato {
  padding-top: 1rem;
}
.subsection{
  margin: 0.5rem
}
.informacoes{
  padding-top: 1rem;
  padding-left: 3rem
}



.cardTranstorno {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 1rem 1rem 1rem 0;
  width: 250px;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
}

.cardTranstorno:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.containerTranstorno {
  padding: 2px 16px;
}

.containerTranstornoTitulo {
  margin-top: 1rem;
}

.containerTranstornoTexto {
  margin: 1rem 0;
}

a{
  color: #1b212b;
  text-decoration: none;
}
p, h1, h2, h3, h4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

h3, h1, h2 {
  margin-bottom: 1%;
}
h4 {
  margin-bottom: 2%;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

button {
  color: white;
  background-color: #00c421;
  font-weight: 500;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);  
}
