<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APAE</title>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a  class="active" (click)="scrollTo(sobre)">
        <li class="ni">Sobre</li>
      </a>
      <a  (click)="scrollTo(historia)">
        <li class="ni">História</li>
      </a>
      <a  (click)="scrollTo(transtornos)">
        <li class="ni">Transtornos</li>
      </a>
      <a  (click)="scrollTo(doacoes)">
        <li class="ni">Doações</li>
      </a>
      <a  (click)="scrollTo(contato)">
        <li class="ni">Contato</li>
      </a>
      <a (click)="goToFeed()">
        <li class="ni">Feed</li>
      </a>
      <a class="icon" (click)="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
      
    <div class="wrapper">
      <section id="section-apresentacao">
        <img id="logo" src="assets/apae.png" />
        <h1>ESCOLA DE EDUCAÇÃO ESPECIAL JACIRA MARTINS DE MELO</h1>
      </section>
      <section id="secion-sobre" #sobre>
        <h1>Sobre a instituição</h1>
        <div class="subsection">
          <h3>Missão</h3>
          <p>
           {{ "Desenvolver ações de defesa de direitos, prevenção, orientações,
            prestação de serviços e apoio à família, direcionadas a melhoria da
            qualidade de vida da pessoa com deficiência intelectual e múltipla e
            à construção de uma sociedade mais justa e solidária." | redutor: 100 }}
            <button (click)="abrirDialogMissao()">Ver mais</button>
          </p>
        </div>
        <div class="subsection">
          <h3>Diagnóstico da Escola e Realidade Contextual</h3>
          <p>
            {{ "A APAE de Piedade de Ponte Nova - MG caracteriza-se pelo atendimento
            especializado as pessoas com deficiência intelectual e múltipla com
            atendimento matutino" | redutor: 100 }}
            <button (click)="abrirDialogDiagnostico()">Ver mais</button>
          </p>
        </div>
        <div class="subsection">
          <h3>Objetivos</h3>
          <h4>Objetivo Geral:</h4>
          <p>
            {{ "Garantir a independência e o desenvolvimento pleno das
            potencialidades dos alunos com deficiência intelectual e múltipla
            e sua participação na família e comunidade, através de conteúdo
            específicos, acessibilidades, adaptações e metodologias;" | redutor: 100 }}
            <button (click)="abrirDialogObjetivos()">Ver mais</button>
          </p>  
        </div>
        <div class="subsection">
          <h3>Princípios Norteadores</h3>

          <h4>Epistemológicos</h4>
          <p>
            {{"A Escola de Educação Especial “Jacira Martins de Melo” acredita que
            o aluno com deficiência intelectual e múltipla é capaz de produzir
            conhecimento e inserir- se no mundo social" | redutor: 100 }}
            <button (click)="abrirDialogPrincipios()">Ver mais</button>
          </p>
        </div>
      </section>
      <section id="secion-historia" #historia>
        <h1>História</h1>
        <p>
          A Associação de Pais e Amigos dos Excepcionais, APAE de Piedade de
          Ponte Nova, é uma instituição filantrópica, sem fins lucrativos de
          direitos privados, com sede em Piedade de Ponte Nova - MG, fundada no
          dia 03 de Fevereiro de 2001, em Assembleia Geral, na administração do
          Prefeito Municipal Hélcio de Assis Gomes, com a presença da Sra.
          Terezinha de Jesus Valle Costa, na época Presidente da APAE de Ponte
          Nova e Delegada da então Regional da Zona da Mata I.
        </p>
        <br />
        <p>
          A Associação de Pais e Amigos de Piedade de Ponte Nova é mantenedora
          da Escola de Educação Especial "Jacira Martins de Melo", recebeu esse
          nome em homenagem a Senhora Jacira Martins de Melo. A dona Jacira,
          como era conhecida, teve uma trajetória de vida de muito trabalho e
          dedicação à família, tendo sido uma grande mãe e esposa. Aos 13 de
          Março de 1969, ingressou na Fundação Ginásio Secundário Nª Sr.ª da
          Piedade, como inspetora de alunos, se dedicou com empenho e carinho na
          profissão, tendo atuado até os 70 anos de idade, quando se aposentou,
          tendo devotado anos de serviços zelando pelos alunos e atuando em prol
          da escola.
        </p>
        <br />
        <p>
          A instituição foi declarada de Utilidade Pública Municipal, em 26 de
          setembro de 2001 pela lei n° 817 pela mesma gestão municipal.
          Funcionou inicialmente com cinco salas em prédio cedido pela
          prefeitura, situado na Rua Professor Sátiro de Melo n° 85, Centro.
          Segundo a Portaria n° 046/2015 de 08/01/2015 autorizando a mudança de
          endereço da APAE de Piedade de Ponte Nova a partir de 10 de setembro
          de 2012.
        </p>
        <br />
        <p>
          Atualmente possui prédio próprio sediado na Rua Natalino Martins de
          Souza, n° 03, Centro, construído e mobilhado por convênio da
          prefeitura Municipal de Piedade de Ponte Nova com a Anglo American.
          Composto por cinco salas de aulas, uma sala ao funcionamento de
          laboratório de informática, uma sala para fonoaudiologia, uma sala
          para a fisioterapia, uma sala para a secretaria, uma sala para a
          diretoria, uma sala de dança, uma sala para professores, uma cozinha,
          um despensa, uma área de serviços, dois dormitórios (masculino e
          feminino), dois banheiros para funcionários (masculino e feminino),
          dois banheiros para os alunos (masculino e feminino) com chuveiros, e
          dois banheiros na sala de aula dividido para três salas e uma varanda
          utilizada também como garagem.
        </p>
      </section>
      <section id="secion-transtornos" #transtornos>
        <h1>Transtornos</h1>

        <div class="cardTranstorno" *ngFor="let transtorno of transtornosList">
          <a
            href="{{transtorno.link}}"
            style="text-decoration: none; color: black"
            target="blank"
          >
            <div class="containerTranstorno">
              <div class="containerTranstornoTitulo">
                <h4><b>{{transtorno.titulo}}</b></h4>
              </div>
              <div class="containerTranstornoTexto">
                <p>{{transtorno.descricao | redutor: 50 }}</p>
              </div>
            </div>
          </a>
        </div>
      </section>

      <section id="secion-doacoes" #doacoes>
        <h1>Doações</h1>
        <p>Para ajudar a APAE, envie uma mensagem: <br/><br/>
        <img src="https://img.icons8.com/external-becris-flat-becris/64/000000/external-help-franchise-business-becris-flat-becris.png" width="30" height="30"/>
        <a href="https://api.whatsapp.com/send?phone=5531988887777&text=Ol%C3%A1!%20Gostaria%20de%20ajudar%20a%20APAE%20de%20Piedade"> ENVIAR MENSAGEM</a><br/></p>

        <br/><br/>
        <p>Você também pode nos ligar ou fazer uma visita presencialmente. O telefone e endereço estão abaixo.<br/>
        Obrigado!</p><br/>


        <br/>
        <p>“O que eu faço, é uma gota no meio de um oceano. Mas sem ela, o oceano será menor.”<br/>
        Madre Teresa de Caucutá</p>
      </section>

      <hr />
      <section id="secion-contato" #contato>
        <img src="assets/apae.png" />
        <div class="contato">
          <h1>Contato</h1>
          <div style="margin-top: 0.5rem"><b>Telefone:</b> <a href="tel:31988887777">(31) XXXX-XXXX</a></div>
          <div style="margin-top: 0.5rem">
            <a href="https://goo.gl/maps/StgjVvUy4jcXAojj7"><b>
              Endereço:</b> R. Natalino Martins de Souza, Nº 03
              <br />
              Piedade de Ponte Nova - MG, 35382-000</a>            
          </div>
          <div style="margin-top: 0.5rem">
            <b>E-mail: </b> <a href="mailto:piedadedepontenova@apaemg.org.br">piedadedepontenova@apaemg.org.br</a>
          </div>
          <div style="margin-top: 0.5rem"><b>Facebook: </b> <a href="http://facebook.com/ApaePiedadePN" target="blank">facebook.com/ApaePiedadePN</a></div>
        </div>
        <div class="informacoes">
          <h1>Informações úteis</h1>
          <div style="margin-top: 0.5rem">
            <b>Horario de funcionamento:</b> Matutino - 08:00 às 12:15
          </div>
          <div style="margin-top: 0.5rem">
            <b>Modalidade de ensino ofertado:</b> Educação Básica
          </div>
          <div style="margin-top: 0.5rem">
            <b>Registro na Federação Nacional das APAES:</b> n.º 1855/2004
          </div>
        </div>
      </section>
    </div>
  </body>
</html>