<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APAE</title>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a  class="active" (click)="scrollTo(sobre)">
        <li class="ni">Sobre</li>
      </a>
      <a  (click)="scrollTo(historia)">
        <li class="ni">História</li>
      </a>
      <a  (click)="scrollTo(transtornos)">
        <li class="ni">Transtornos</li>
      </a>
      <a  (click)="scrollTo(doacoes)">
        <li class="ni">Doações</li>
      </a>
      <a  (click)="scrollTo(contato)">
        <li class="ni">Contato</li>
      </a>
      <a (click)="goToFeed()">
        <li class="ni">Feed</li>
      </a>
      <a class="icon" (click)="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
      
    <div class="wrapper">
      <section id="section-apresentacao">
        <img id="logo" src="assets/apae.png" />
        <h1>ESCOLA DE EDUCAÇÃO ESPECIAL JACIRA MARTINS DE MELO</h1>
      </section>
      <section id="secion-sobre" #sobre>
        <h1>Sobre a instituição</h1>
        <div class="subsection">
          <h3>Missão</h3>
          <p>
            Desenvolver ações de defesa de direitos, prevenção, orientações,
            prestação de serviços e apoio à família... 
            <button (click)="abrirDialogMissao()">Ver mais</button>
          </p>
        </div>
        <div class="subsection">
          <h3>Diagnóstico da Escola e Realidade Contextual</h3>
          <p>
            A APAE de Piedade de Ponte Nova - MG caracteriza-se pelo atendimento
            especializado as pessoas com deficiência intelectual e múltipla com
            atendimento matutino...
          </p>
          <button (click)="abrirDialogDiagnostico()">Ver mais</button>
        </div>
        <div class="subsection">
          <h3>Objetivos</h3>
          <h4>Objetivo Geral:</h4>
          <ul>
            <li>
              Garantir a independência e o desenvolvimento pleno das
              potencialidades dos alunos com deficiência intelectual e múltipla
              e sua participação na família e comunidade, através de conteúdo
              específicos, acessibilidades, adaptações e metodologias;
            </li>
          </ul>
          <button (click)="abrirDialogObjetivos()">Ver mais</button>
        </div>
        <div class="subsection">
          <h3>Princípios Norteadores</h3>

          <h4>Epistemológicos</h4>
          <p>
            A Escola de Educação Especial “Jacira Martins de Melo” acredita que
            o aluno com deficiência intelectual e múltipla é capaz de produzir
            conhecimento e inserir- se no mundo social.
          </p>
          <button (click)="abrirDialogPrincipios()">Ver mais</button>
        </div>
      </section>
      <section id="secion-historia" #historia>
        <h1>História</h1>
        <p>
          A Associação de Pais e Amigos dos Excepcionais, APAE de Piedade de
          Ponte Nova, é uma instituição filantrópica, sem fins lucrativos de
          direitos privados, com sede em Piedade de Ponte Nova - MG, fundada no
          dia 03 de Fevereiro de 2001, em Assembleia Geral, na administração do
          Prefeito Municipal Hélcio de Assis Gomes, com a presença da Sra.
          Terezinha de Jesus Valle Costa, na época Presidente da APAE de Ponte
          Nova e Delegada da então Regional da Zona da Mata I.
        </p>
        <br />
        <p>
          A Associação de Pais e Amigos de Piedade de Ponte Nova é mantenedora
          da Escola de Educação Especial "Jacira Martins de Melo", recebeu esse
          nome em homenagem a Senhora Jacira Martins de Melo. A dona Jacira,
          como era conhecida, teve uma trajetória de vida de muito trabalho e
          dedicação à família, tendo sido uma grande mãe e esposa. Aos 13 de
          Março de 1969, ingressou na Fundação Ginásio Secundário Nª Sr.ª da
          Piedade, como inspetora de alunos, se dedicou com empenho e carinho na
          profissão, tendo atuado até os 70 anos de idade, quando se aposentou,
          tendo devotado anos de serviços zelando pelos alunos e atuando em prol
          da escola.
        </p>
        <br />
        <p>
          A instituição foi declarada de Utilidade Pública Municipal, em 26 de
          setembro de 2001 pela lei n° 817 pela mesma gestão municipal.
          Funcionou inicialmente com cinco salas em prédio cedido pela
          prefeitura, situado na Rua Professor Sátiro de Melo n° 85, Centro.
          Segundo a Portaria n° 046/2015 de 08/01/2015 autorizando a mudança de
          endereço da APAE de Piedade de Ponte Nova a partir de 10 de setembro
          de 2012.
        </p>
        <br />
        <p>
          Atualmente possui prédio próprio sediado na Rua Natalino Martins de
          Souza, n° 03, Centro, construído e mobilhado por convênio da
          prefeitura Municipal de Piedade de Ponte Nova com a Anglo American.
          Composto por cinco salas de aulas, uma sala ao funcionamento de
          laboratório de informática, uma sala para fonoaudiologia, uma sala
          para a fisioterapia, uma sala para a secretaria, uma sala para a
          diretoria, uma sala de dança, uma sala para professores, uma cozinha,
          um despensa, uma área de serviços, dois dormitórios (masculino e
          feminino), dois banheiros para funcionários (masculino e feminino),
          dois banheiros para os alunos (masculino e feminino) com chuveiros, e
          dois banheiros na sala de aula dividido para três salas e uma varanda
          utilizada também como garagem.
        </p>
      </section>
      <section id="secion-transtornos" #transtornos>
        <h1>Transtornos</h1>

        <div class="cardTranstorno">
          <a
            href="http://google.com"
            style="text-decoration: none; color: black"
            target="blank"
          >
            <div class="containerTranstorno">
              <div class="containerTranstornoTitulo">
                <h4><b>Nome do transtorno</b></h4>
              </div>
              <div class="containerTranstornoTexto">
                <p>Breve explicação</p>
              </div>
            </div>
          </a>
        </div>

        <div class="cardTranstorno">
          <a
            href="http://google.com"
            style="text-decoration: none; color: black"
            target="blank"
          >
            <div class="containerTranstorno">
              <div class="containerTranstornoTitulo">
                <h4><b>Nome do transtorno</b></h4>
              </div>
              <div class="containerTranstornoTexto">
                <p>Breve explicação</p>
              </div>
            </div>
          </a>
        </div>

        <div class="cardTranstorno">
          <a
            href="http://google.com"
            style="text-decoration: none; color: black"
            target="blank"
          >
            <div class="containerTranstorno">
              <div class="containerTranstornoTitulo">
                <h4><b>Nome do transtorno</b></h4>
              </div>
              <div class="containerTranstornoTexto">
                <p>Breve explicação</p>
              </div>
            </div>
          </a>
        </div>
      </section>

      <section id="secion-doacoes" #doacoes>
        <h1>Doações</h1>
        Eius sapiente ut, repudiandae amet, sunt dolorum autem esse mollitia
        voluptatum quia voluptatibus, odio nihil alias quisquam quidem
        asperiores expedita neque praesentium. Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Excepturi quos dignissimos porro eum
        dolorem nihil alias recusandae? Natus voluptatum, maiores distinctio
        quam quaerat sed. Explicabo omnis sit beatae ratione unde. Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Aliquam dolorum nesciunt
        itaque, beatae rerum tenetur nobis laborum nulla at praesentium,
        temporibus distinctio ad? Odit cupiditate a magni voluptates veritatis?
        Praesentium? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Adipisci quo dignissimos culpa impedit sapiente distinctio voluptatum
        eos. Natus consequatur eius at aperiam, ipsum ab quas a porro debitis!
        Et, ea! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Expedita ut accusantium eveniet unde incidunt sint esse voluptatem rem
        similique, perspiciatis recusandae eaque omnis id sapiente iure ea ab
        est culpa? ratione unde. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Aliquam dolorum nesciunt itaque, beatae rerum tenetur
        nobis laborum nulla at praesentium, temporibus distinctio ad? Odit
        cupiditate a magni voluptates veritatis? Praesentium? Lorem ipsum, dolor
        sit amet consectetur adipisicing elit. Adipisci quo dignissimos culpa
        impedit sapiente distinctio voluptatum eos. Natus consequatur eius at
        aperiam, ipsum ab quas a porro debitis! Et, ea! Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Expedita ut accusantium eveniet unde
        incidunt sint esse voluptatem rem similique, perspiciatis recusandae
        eaque omnis id sapiente iure ea ab est culpa?tur consequuntur!
      </section>
      <hr />
      <section id="secion-contato" #contato>
        <img src="assets/apae.png" />
        <div class="contato">
          <h1>Contato</h1>
          <div style="margin-top: 0.5rem"><b>Telefone:</b> (31) XXXX-XXXX</div>
          <div style="margin-top: 0.5rem">
            <b>Endereço:</b> R. Natalino Martins de Souza, Nº 03
            <br />
            Piedade de Ponte Nova - MG, 35382-000
          </div>
          <div style="margin-top: 0.5rem">
            <b>E-mail:</b> piedadedepontenova@apaemg.org.br
          </div>
          <div style="margin-top: 0.5rem"><b>Facebook:</b> ApaePiedadePN</div>
        </div>
        <div class="informacoes">
          <h1>Informações úteis</h1>
          <div style="margin-top: 0.5rem">
            <b>Horario de funcionamento:</b> Matutino - 08:00 às 12:15
          </div>
          <div style="margin-top: 0.5rem">
            <b>Modalidade de ensino ofertado:</b> Educação Básica
          </div>
          <div style="margin-top: 0.5rem">
            <b>Registro na Federação Nacional das APAES:</b> n.º 1855/2004
          </div>
        </div>
      </section>
    </div>
  </body>
</html>