<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apae</title>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a href="#home" class="active">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      <a href="javascript:void(0);" class="icon" (click)="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    
    <div class="wrapper">
      <section id="section-apresentacao">
        <img src="assets/apae.png" />
        <h1>APAE</h1>
      </section>
      <section id="secion-sobre" #sobre>
        <h1>Sobre a instituição</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
        expedita, eligendi perferendis in dicta accusamus accusantium modi, eum
        eius voluptates libero a natus qui aperiam quaerat recusandae fuga
        pariatur consequuntur! Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Eius sapiente ut, repudiandae amet, sunt dolorum autem
        esse mollitia voluptatum quia voluptatibus, odio nihil alias quisquam
        quidem asperiores expedita neque praesentium. Lorem, ipsum dolor sit
        amet consectetur adipisicing elit. Excepturi quos dignissimos porro eum
        dolorem nihil alias recusandae? Natus voluptatum, maiores distinctio
        quam quaerat sed. Explicabo omnis sit beatae ratione unde. Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Aliquam dolorum nesciunt
        itaque, beatae rerum tenetur nobis laborum nulla at praesentium,
        temporibus distinctio ad? Odit cupiditate a magni voluptates veritatis?
        Praesentium? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Adipisci quo dignissimos culpa impedit sapiente distinctio voluptatum
        eos. Natus consequatur eius at aperiam, ipsum ab quas a porro debitis!
        Et, ea! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Expedita ut accusantium eveniet unde incidunt sint esse voluptatem rem
        similique, perspiciatis recusandae eaqLorem ipsum dolor sit amet
        consectetur adipisicing elit. Cumque expedita, eligendi perferendis in
        dicta accusamus accusantium modi, eum eius voluptates libero a natus qui
        aperiam quaerat recusandae fuga pariatur consequuntur! Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Eius sapiente ut,
        repudiandae amet, sunt dolorum autem esse mollitia voluptatum quia
        voluptatibus, odio nihil alias quisquam quidem asperiores expedita neque
        praesentium. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Excepturi quos dignissimos porro eum dolorem nihil alias recusandae?
        Natus voluptatum, maiores distinctio quam quaerat sed. Explicabo omnis
        sit beatae ratione unde. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Aliquam dolorum nesciunt itaque, beatae rerum tenetur
        nobis laborum nulla at praesentium, temporibus distinctio ad? Odit
        cupiditate a magni voluptates veritatis? Praesentium? Lorem ipsum, dolor
        sit amet consectetur adipisicing elit. Adipisci quo dignissimos culpa
        impedit sapiente distinctio voluptatum eos. Natus consequatur eius at
        aperiam, ipsum ab quas a porro debitis! Et, ea! Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Expedita ut accusantium eveniet unde
        incidunt sint esse voluptatem rem similique, perspiciatis recusandae
        eaque omnis id sapiente iure ea ab est culpa?Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Cumque expedita, eligendi perferendis in
        dicta accusamus accusantium modi, eum eius voluptates libero a natus qui
        aperiam quaerat recusandae fuga pariatur consequuntur! Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Eius sapiente ut,
        repudiandae amet, sunt dolorum autem esse mollitia voluptatum quia
        voluptatibus, odio nihil alias quisquam quidem asperiores expedita neque
        praesentium. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Excepturi quos dignissimos porro eum dolorem nihil alias recusandae?
        Natus voluptatum, maiores distinctio quam quaerat sed. Explicabo omnis
        sit beatae ratione unde. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Aliquam dolorum nesciunt itaque, beatae rerum tenetur
        nobis laborum nulla at praesentium, temporibus distinctio ad? Odit
        cupiditate a magni voluptates veritatis? Praesentium? Lorem ipsum, dolor
        sit amet consectetur adipisicing elit. Adipisci quo dignissimos culpa
        impedit sapiente distinctio voluptatum eos. Natus consequatur eius at
        aperiam, ipsum ab quas a porro debitis! Et, ea! Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Expedita ut accusantium eveniet unde
        incidunt sint esse voluptatem rem similique, perspiciatis recusandae
        eaque omnis id sapiente iure ea ab est culpa?ue omnis id sapiente iure
        ea ab est culpa? Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Cumque expedita, eligendi perferendis in dicta accusamus
        accusantium modi, eum eius voluptates libero a natus qui aperiam quaerat
        recusandae fuga pariatur consequuntur! Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Eius sapiente ut, repudiandae amet, sunt
        dolorum autem esse mollitia voluptatum quia voluptatibus, odio nihil
        alias quisquam quidem asperiores expedita neque praesentium. Lorem,
        ipsum dolor sit amet consectetur adipisicing elit. Excepturi quos
        dignissimos porro eum dolorem nihil alias recusandae? Natus voluptatum,
        maiores distinctio quam quaerat sed. Explicabo omnis sit beatae ratione
        unde. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
        dolorum nesciunt itaque, beatae rerum tenetur nobis laborum nulla at
        praesentium, temporibus distinctio ad? Odit cupiditate a magni
        voluptates veritatis? Praesentium? Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Adipisci quo dignissimos culpa impedit
        sapiente distinctio voluptatum eos. Natus consequatur eius at aperiam,
        ipsum ab quas a porro debitis! Et, ea! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Expedita ut accusantium eveniet unde
        incidunt sint esse voluptatem rem similique, perspiciatis recusandae
        eaque omnis id sapiente iure ea ab est culpa?
      </section>
      <section id="secion-historia" #historia>
        <h1>História</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
        expedita, eligendi perferendis in dicta accusamus accusantium modi, eum
        eius voluptates libero a natus qui aperiam quaerat recusandae fuga
        pariatur consequuntur! Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Eius sapiente ut, repudiandae amet, sunt dolorum autem
        esse mollitia voluptatum quia voluptatibus, odio nihil alias quisquam
        quidem asperiores expedita neque praesentium. Lorem, ipsum dolor sit
        amet consectetur adipisicing elit. Excepturi quos dignissimos porro eum
        dolorem nihil alias recusandae? Natus voluptatum, maiores distinctio
        quam quaerat sed. Explicabo omnis sit beatae ratione unde. Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Aliquam dolorum nesciunt
        itaque, beatae rerum tenetur nobis laborum nulla at praesentium,
        temporibus distiLorem ipsum dolor sit amet consectetur adipisicing elit.
        Cumque expedita, eligendi perferendis in dicta accusamus accusantium
        modi, eum eius voluptates libero a natus qui aperiam quaerat recusandae
        fuga pariatur consequuntur! Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Eius sapiente ut, repudiandae amet, sunt dolorum autem
        esse mollitia voluptatum quia voluptatibus, odio nihil alias quisquam
        quidem asperiores expedita neque praesentium. Lorem, ipsum dolor sit
        amet consectetur adipisicing elit. Excepturi quos dignissimos porro eum
        dolorem nihil alias recusandae? Natus voluptatum, maiores distinctio
        quam quaerat sed. Explicabo omnis sit beatae ratione unde. Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Aliquam dolorum nesciunt
        itaque, beatae rerum tenetur nobis laborum nulla at praesentium,
        temporibus distinctio ad? Odit cupiditate a magni voluptates veritatis?
        Praesentium? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Adipisci quo dignissimos culpa impedit sapiente distinctio voluptatum
        eos. Natus consequatur eius at aperiam, ipsum ab quas a porro debitis!
        Et, ea! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Expedita ut accusantium eveniet unde incidunt sint esse voluptatem rem
        similique, perspiciatis recusandae eaque omnis id sapiente iure ea ab
        est culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Cumque expedita, eligendi perferendis in dicta accusamus accusantium
        modi, eum eius voluptates libero a natus qui aperiam quaerat recusandae
        fuga pariatur consequuntur! Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Eius sapiente ut, repudiandae amet, sunt dolorum autem
        esse mollitia voluptatum quia voluptatibus, odio nihil alias quisquam
        quidem asperiores expedita neque praesentium. Lorem, ipsum dolor sit
        amet consectetur adipisicing elit. Excepturi quos dignissimos porro eum
        dolorem nihil alias recusandae? Natus voluptatum, maiores distinctio
        quam quaerat sed. Explicabo omnis sit beatae ratione unde. Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Aliquam dolorum nesciunt
        itaque, beatae rerum tenetur nobis laborum nulla at praesentium,
        temporibus distinctio ad? Odit cupiditate a magni voluptates veritatis?
        Praesentium? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Adipisci quo dignissimos culpa impedit sapiente distinctio voluptatum
        eos. Natus consequatur eius at aperiam, ipsum ab quas a porro debitis!
        Et, ea! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Expedita ut accusantium eveniet unde incidunt sint esse voluptatem rem
        similique, perspiciatis recusandae eaque omnis id sapiente iure ea ab
        est culpa?nctio ad? Odit cupiditate a magni voluptates veritatis?
        Praesentium? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Adipisci quo dignissimos culpa impedit sapiente distinctio voluptatum
        eos. Natus consequatur eius at aperiam, ipsum ab quas a porro debitis!
        Et, ea! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Expedita ut accusantium eveniet unde incidunt sint esse voluptatem rem
        similique, perspiciatis recusandae eaque omnis id sapiente iure ea ab
        est culpa? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Cumque expedita, eligendi perferendis in dicta accusamus accusantium
        modi, eum eius voluptates libero a natus qui aperiam quaerat recusandae
        fuga pariatur consequuntur! Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Eius sapiente ut, repudiandae amet, sunt dolorum autem
        esse mollitia voluptatum quia voluptatibus, odio nihil alias quisquam
        quidem asperiores expedita neque praesentium. Lorem, ipsum dolor sit
        amet consectetur adipisicing elit. Excepturi quos dignissimos porro eum
        dolorem nihil alias recusandae? Natus voluptatum, maiores distinctio
        quam quaerat sed. Explicabo omnis sit beatae ratione unde. Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Aliquam dolorum nesciunt
        itaque, beatae rerum tenetur nobis laborum nulla at praesentium,
        temporibus distinctio ad? Odit cupiditate a magni voluptates veritatis?
        Praesentium? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Adipisci quo dignissimos culpa impedit sapiente distinctio voluptatum
        eos. Natus consequatur eius at aperiam, ipsum ab quas a porro debitis!
        Et, ea! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Expedita ut accusantium eveniet unde incidunt sint esse voluptatem rem
        similique, perspiciatis recusandae eaque omnis id sapiente iure ea ab
        est culpa?
      </section>
      <section id="secion-transtornos" #transtornos>
        <h1>Transtornos</h1>

        <div class="cardTranstorno">
          <a
            href="http://google.com"
            style="text-decoration: none; color: black"
          >
            <div class="containerTranstorno">
              <div class="containerTranstornoTitulo">
                <h4><b>Nome do transtorno</b></h4>
              </div>
              <div class="containerTranstornoTexto">
                <p>Breve explicação</p>
              </div>
            </div>
          </a>
        </div>

        <div class="cardTranstorno">
          <a
            href="http://google.com"
            style="text-decoration: none; color: black"
          >
            <div class="containerTranstorno">
              <div class="containerTranstornoTitulo">
                <h4><b>Nome do transtorno</b></h4>
              </div>
              <div class="containerTranstornoTexto">
                <p>Breve explicação</p>
              </div>
            </div>
          </a>
        </div>

        <div class="cardTranstorno">
          <a
            href="http://google.com"
            style="text-decoration: none; color: black"
          >
            <div class="containerTranstorno">
              <div class="containerTranstornoTitulo">
                <h4><b>Nome do transtorno</b></h4>
              </div>
              <div class="containerTranstornoTexto">
                <p>Breve explicação</p>
              </div>
            </div>
          </a>
        </div>
      </section>

      <section id="secion-doacoes" #doacoes>
        <h1>Doações</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
        expedita, eligendi perferendis in dicta accusamus accusantium modi, eum
        eius voluptates libero a natus qui aperiam quaerat recusandae fuga
        pariatur consequuntur! Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Eius sapiente ut, repudiandae amet, sunt dolorum autem
        esse mollitia voluptatum quia voluptatibus, odio nihiLorem ipsum dolor
        sit amet consectetur adipisicing elit. Cumque expedita, eligendi
        perferendis in dicta accusamus accusantium modi, eum eius voluptates
        libero a natus qui aperiam quaerat recusandae fuga pariatur
        consequuntur! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Eius sapiente ut, repudiandae amet, sunt dolorum autem esse mollitia
        voluptatum quia voluptatibus, odio nihil alias quisquam quidem
        asperiores expedita neque praesentium. Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Excepturi quos dignissimos porro eum
        dolorem nihil alias recusandae? Natus voluptatum, maiores distinctio
        quam quaerat sed. Explicabo omnis sit beatae ratione unde. Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Aliquam dolorum nesciunt
        itaque, beatae rerum tenetur nobis laborum nulla at praesentium,
        temporibus distinctio ad? Odit cupiditate a magni voluptates veritatis?
        Praesentium? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Adipisci quo dignissimos culpa impedit sapiente distinctio voluptatum
        eos. Natus consequatur eius at aperiam, ipsum ab quas a porro debitis!
        Et, ea! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Expedita ut accusantium eveniet unde incidunt sint esse voluptatem rem
        similique, perspiciatis recusandae eaque omnis id sapiente iure ea ab
        est culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Cumque expedita, eligendi perferendis in dicta accusamus accusantium
        modi, eum eius voluptates libero a natus qui aperiam quaerat recusandae
        fuga pariatur consequuntur! Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Eius sapiente ut, repudiandae amet, sunt dolorum autem
        esse mollitia voluptatum quia voluptatibus, odio nihil alias quisquam
        quidem asperiores expedita neque praesentium. Lorem, ipsum dolor sit
        amet consectetur adipisicing elit. Excepturi quos dignissimos porro eum
        dolorem nihil alias recusandae? Natus voluptatum, maiores distinctio
        quam quaerat sed. Explicabo omnis sit beatae ratione unde. Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Aliquam dolorum nesciunt
        itaque, beatae rerum tenetur nobis laborum nulla at praesentium,
        temporibus distinctio ad? Odit cupiditate a magni voluptates veritatis?
        Praesentium? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Adipisci quo dignissimos culpa impedit sapiente distinctio voluptatum
        eos. Natus consequatur eius at aperiam, ipsum ab quas a porro debitis!
        Et, ea! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Expedita ut accusantium eveniet unde incidunt sint esse voluptatem rem
        similique, perspiciatis recusandae eaque omnis id sapiente iure ea ab
        est culpa?l alias quisquam quidem asperiores expedita neque praesentium.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quos
        dignissimos porro eum dolorem nihil alias recusandae? Natus voluptatum,
        maiores distinctio quam quaerat sed. Explicabo omnis sit beataeLorem
        ipsum dolor sit amet consectetur adipisicing elit. Cumque expedita,
        eligendi perferendis in dicta accusamus accusantium modi, eum eius
        voluptates libero a natus qui aperiam quaerat recusandae fuga pariatur
        consequuntur! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Eius sapiente ut, repudiandae amet, sunt dolorum autem esse mollitia
        voluptatum quia voluptatibus, odio nihil alias quisquam quidem
        asperiores expedita neque praesentium. Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Excepturi quos dignissimos porro eum
        dolorem nihil alias recusandae? Natus voluptatum, maiores distinctio
        quam quaerat sed. Explicabo omnis sit beatae ratione unde. Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Aliquam dolorum nesciunt
        itaque, beatae rerum tenetur nobis laborum nulla at praesentium,
        temporibus distinctio ad? Odit cupiditate a magni voluptates veritatis?
        Praesentium? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Adipisci quo dignissimos culpa impedit sapiente distinctio voluptatum
        eos. Natus consequatur eius at aperiam, ipsum ab quas a porro debitis!
        Et, ea! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Expedita ut accusantium eveniet unde incidunt sint esse voluptatem rem
        similique, perspiciatis recusandae eaque omnis id sapiente iure ea ab
        est culpa? ratione unde. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Aliquam dolorum nesciunt itaque, beatae rerum tenetur
        nobis laborum nulla at praesentium, temporibus distinctio ad? Odit
        cupiditate a magni voluptates veritatis? Praesentium? Lorem ipsum, dolor
        sit amet consectetur adipisicing elit. Adipisci quo dignissimos culpa
        impedit sapiente distinctio voluptatum eos. Natus consequatur eius at
        aperiam, ipsum ab quas a porro debitis! Et, ea! Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Expedita ut accusantium eveniet unde
        incidunt sint esse voluptatem rem similique, perspiciatis recusandae
        eaque omnis id sapiente iure ea ab est culpa?tur consequuntur!
      </section>
      <section id="secion-contato" #contato>
        <h1>Contato</h1>
        Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Cumque expedita, eligendi perferendis in dicta accusamus accusantium
        modi, eum eius voluptates libero a natus qui aperiam quaerat recusandae
        fuga pariatur consequuntur! Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Eius sapiente ut, repudiandae amet, sunt dolorum autem
        esse mollitia voluptatum quia voluptatibus, odio nihil alias quisquam
        quidem asperiores expedita neque praesentium. Lorem, ipsum dolor sit
        amet consectetur adipisicing elit. Excepturi quos dignissimos porro eum
        dolorem nihil alias recusandae? Natus voluptatum, maiores distinctio
        quam quaerat sed. Explicabo omnis sit beatae ratione unde. Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Aliquam dolorum nesciunt
        itaque, beatae rerum tenetur nobis laborum nulla at praesentium,
        temporibus distinctio ad? Odit cupiditate a magni voluptates veritatis?
        Praesentium? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Adipisci quo dignissimos culpa impedit sapiente distinctio voluptatum
        eos. Natus consequatur eius at aperiam, ipsum ab quas a porro debitis!
        Et, ea! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Expedita ut accusantium eveniet unde incidunt sint esse voluptatem rem
        similique, perspiciatis recusandae eaque omnis id sapiente iure ea ab
        est culpa?dolor sit amet consectetur adipisicing elit. Cumque expedita,
        eligendi perferendis in dicta accusamus accusantium modi, eum eius
        voluptates libero a natus qui aperiam quaerat recusandae fuga pariatur
        consequuntur! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Eius sapiente ut, repudiandae amet, sunt dolorum autem esse mollitia
        voluptatum quia voluptatibus, odio nihil alias quisquam quidem
        asperiores expedita neque praesentium. Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Excepturi quos dignissimos porro eum
        dolorem nihil alias recusandae? Natus voluptatum, maiores distinctio
        quam quaerat sed. Explicabo omnis sit beatae ratione unde. Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Aliquam dolorum nesciunt
        itaque, beatae rerum tenetur nobis laborum nulla at praesentium,
        temporibus distinctio ad? Odit cupiditate a magni voluptates veritatis?
        Praesentium? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Adipisci quo dignissimos culpa impedit sapiente distinctio voluptatum
        eos. Natus consequatur eius at aperiam, ipsum ab quas a porro debitis!
        Et, ea! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Expedita ut accusantium eveniet unde incidunt sint esse voluptatem rem
        similique, perspiciatis recusandae eaque omnis id sapiente iure ea ab
        est culpa?
      </section>
    </div>
  </body>
</html>
