<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APAE</title>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a href="#sobre" class="active" (click)="scrollTo(sobre)">
        <li class="ni">Sobre</li>
      </a>
      <a href="#historia" (click)="scrollTo(historia)">
        <li class="ni">História</li>
      </a>
      <a href="#transtornos" (click)="scrollTo(transtornos)">
        <li class="ni">Transtornos</li>
      </a>
      <a href="#doacoes" (click)="scrollTo(doacoes)">
        <li class="ni">Doações</li>
      </a>
      <a href="#contato" (click)="scrollTo(contato)">
        <li class="ni">Contato</li>
      </a>
      <a class="icon" (click)="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
      
    <div class="wrapper">
      <section id="section-apresentacao">
        <img src="assets/apae.png" />
        <h1>ESCOLA DE EDUCAÇÃO ESPECIAL JACIRA MARTINS DE MELO</h1>
      </section>
      <section id="secion-sobre" #sobre>
        <h1>Sobre a instituição</h1>
        <div class="subsection">
          <h3>Missão</h3>
          <p>
            Desenvolver ações de defesa de direitos, prevenção, orientações,
            prestação de serviços e apoio à família, direcionadas a melhoria da
            qualidade de vida da pessoa com deficiência intelectual e múltipla e
            à construção de uma sociedade mais justa e solidária.
          </p>
        </div>
        <div class="subsection">
          <h3>Diagnóstico da Escola e Realidade Contextual</h3>
          <p>
            A APAE de Piedade de Ponte Nova - MG caracteriza-se pelo atendimento
            especializado as pessoas com deficiência intelectual e múltipla com
            atendimento matutino.
          </p>
          <br />
          <p>
            A APAE, mantenedora da Escola de Educação Especial "Jacira Martins
            de Melo" atualmente fornece atendimento em nível de Ensino
            Fundamental-Anos Iniciais, e Educação de Jovens e Adultos-Anos
            Iniciais.
          </p>
          <br />
          <p>
            No Ensino Fundamental - Anos Iniciais serão desenvolvidas atividades
            que contribuam para a formação de atitudes e valores para a vida,
            por meio da aprendizagem da leitura, escrita e cálculo da
            compreensão do espaço natural, social, artístico, e valores
            fundamentais da sociedade, sobretudo para estimular o processo de
            Independência e o desenvolvimento das potencialidades da criança.
          </p>
          <br />
          <p>
            Na Educação de Jovens e Adultos - Anos Iniciais e Educação de Jovens
            e Adultos estão contidas considerações de ordem social, ética e
            política, considerando a importância dos preceitos legais que
            garantam o direito ao Ensino Fundamental às pessoas de todas as
            faixas etárias. Dentro da realidade da educação especial a
            flexibilidade curricular revela-se positiva. Aqui esse processo de
            formação se dará além das áreas de ensino, introduzindo a formação
            profissional para os jovens e adultos utilizando estratégias para o
            desenvolvimento de suas aptidões através de estímulos e atividades
            sistematizadas, em oficinas pedagógicas.
          </p>
          <br />
          A seguir destacamos alguns obstáculos que dificultam o pleno
          funcionamento da escola:
          <br />
          <ul>
            <li>
              Necessidade de capacitação dos funcionários da escola compatível
              com sua função;
            </li>
            <li>
              Dificuldade em conhecer as causas das deficiências e diagnóstico
              de alguns alunos;
            </li>
            <li>
              Pouco comprometimento por parte das famílias, no que se refere a
              dar continuidade ao que a escola vem trabalhando com o aluno;
            </li>
            <li>
              Conscientização dos pais quanto a medicação usada pelo filho e a
              necessidade de ser contínuo.
            </li>
          </ul>
        </div>
        <div class="subsection">
          <h3>Objetivos</h3>
          <h4>Objetivo Geral:</h4>
          <ul>
            <li>
              Garantir a independência e o desenvolvimento pleno das
              potencialidades dos alunos com deficiência intelectual e múltipla
              e sua participação na família e comunidade, através de conteúdo
              específicos, acessibilidades, adaptações e metodologias;
            </li>
          </ul>
          <h4>Objetivos Específicos</h4>
          <ul>
            <li>
              Executar ações nas áreas pedagógicas, saúde, englobando programas
              de assistência social que atenda as pessoas com deficiência e suas
              famílias;
            </li>
            <li>
              Proporcionar a pessoa com deficiência, condições adequadas, tanto
              físicas como emocional, que propicie o desenvolvimento e sua
              inclusão no meio social;
            </li>
            <li>
              Oferecer programas educacionais de acordo com seu nível de
              escolaridade, necessidades e possibilidades;
            </li>
            <li>
              Proporcionar orientação a família, de modo a gerar ambiente
              adequado a pessoa com deficiência;
            </li>
            <li>
              Realizar trabalhos coletivos e atividades diversificadas para
              melhorar o ensino aprendizagem.
            </li>
          </ul>
        </div>
        <div class="subsection">
          <h3>Princípios Norteadores</h3>

          <h4>Epistemológicos</h4>
          <p>
            A Escola de Educação Especial “Jacira Martins de Melo” acredita que
            o aluno com deficiência intelectual e múltipla é capaz de produzir
            conhecimento e inserir- se no mundo social.
          </p>
          <br />
          <p>
            Dessa forma buscamos cumprir a função social de incluí-los no espaço
            educacional, utilizando as fundamentações teóricas aliadas às
            práticas para o estabelecimento da universalização do conhecimento
            em conjunto com toda a comunidade.
          </p>
          <br />
          <h4>Didáticos-Pedagógicos</h4>
          <p>
            Definimos como linha teórica o construtivismo/sociointeracionista
            acreditando que o conhecimento se dá na interação do sujeito
            consigo, com os demais e com o objeto, agindo de maneira a permitir
            que o aluno se sinta estimulado a criar novos significados a partir
            de diversos conhecimentos existentes contribuindo para o
            desenvolvimento da aprendizagem, e levando-o a refletir e a criticar
            os fatores sociais ao qual está inserido. 0 papel do educador para a
            consolidação deste trabalho é imprescindível, pois suas ações são
            relevantes para o desenvolvimento do educando de forma a criar
            espaços em que o agir e o construir se efetivem.
          </p>
          <br />

          <h4>Éticos</h4>
          <p>
            Os valores precisam ser transmitidos e vivenciados por todas as
            pessoas da instituição. Para isso deverão ser criadas condições,
            através de atividades que motivem os envolvidos a criar hábitos de
            cooperação, respeito, igualdade e justiça, essenciais na construção
            da cidadania.
          </p>
          <br />

          <h4>Estéticos</h4>
          <p>
            Associado a possibilidade de produção artística, reafirmando a
            importância da criatividade, de forma a proporcionar maior autonomia
            das expressões artísticas. Cabe ao educador garantir um ambiente
            atrativo e rico em estratégias, com o objetivo de estimular a
            curiosidade e a emoção.
          </p>
          <br />
          <p>
            É necessário favorecer a manifestação da diversidade na escola, que
            é o espaço onde os costumes, valores e etnias estão em evidência.
          </p>
        </div>
      </section>
      <section id="secion-historia" #historia>
        <h1>História</h1>
        <p>
          A Associação de Pais e Amigos dos Excepcionais, APAE de Piedade de
          Ponte Nova, é uma instituição filantrópica, sem fins lucrativos de
          direitos privados, com sede em Piedade de Ponte Nova - MG, fundada no
          dia 03 de Fevereiro de 2001, em Assembleia Geral, na administração do
          Prefeito Municipal Hélcio de Assis Gomes, com a presença da Sra.
          Terezinha de Jesus Valle Costa, na época Presidente da APAE de Ponte
          Nova e Delegada da então Regional da Zona da Mata I.
        </p>
        <br />
        <p>
          A Associação de Pais e Amigos de Piedade de Ponte Nova é mantenedora
          da Escola de Educação Especial "Jacira Martins de Melo", recebeu esse
          nome em homenagem a Senhora Jacira Martins de Melo. A dona Jacira,
          como era conhecida, teve uma trajetória de vida de muito trabalho e
          dedicação à família, tendo sido uma grande mãe e esposa. Aos 13 de
          Março de 1969, ingressou na Fundação Ginásio Secundário Nª Sr.ª da
          Piedade, como inspetora de alunos, se dedicou com empenho e carinho na
          profissão, tendo atuado até os 70 anos de idade, quando se aposentou,
          tendo devotado anos de serviços zelando pelos alunos e atuando em prol
          da escola.
        </p>
        <br />
        <p>
          A instituição foi declarada de Utilidade Pública Municipal, em 26 de
          setembro de 2001 pela lei n° 817 pela mesma gestão municipal.
          Funcionou inicialmente com cinco salas em prédio cedido pela
          prefeitura, situado na Rua Professor Sátiro de Melo n° 85, Centro.
          Segundo a Portaria n° 046/2015 de 08/01/2015 autorizando a mudança de
          endereço da APAE de Piedade de Ponte Nova a partir de 10 de setembro
          de 2012.
        </p>
        <br />
        <p>
          Atualmente possui prédio próprio sediado na Rua Natalino Martins de
          Souza, n° 03, Centro, construído e mobilhado por convênio da
          prefeitura Municipal de Piedade de Ponte Nova com a Anglo American.
          Composto por cinco salas de aulas, uma sala ao funcionamento de
          laboratório de informática, uma sala para fonoaudiologia, uma sala
          para a fisioterapia, uma sala para a secretaria, uma sala para a
          diretoria, uma sala de dança, uma sala para professores, uma cozinha,
          um despensa, uma área de serviços, dois dormitórios (masculino e
          feminino), dois banheiros para funcionários (masculino e feminino),
          dois banheiros para os alunos (masculino e feminino) com chuveiros, e
          dois banheiros na sala de aula dividido para três salas e uma varanda
          utilizada também como garagem.
        </p>
        <button (click)="abrirDialog()">Saiba Mais</button>
      </section>
      <section id="secion-transtornos" #transtornos>
        <h1>Transtornos</h1>

        <div class="cardTranstorno">
          <a
            href="http://google.com"
            style="text-decoration: none; color: black"
            target="blank"
          >
            <div class="containerTranstorno">
              <div class="containerTranstornoTitulo">
                <h4><b>Nome do transtorno</b></h4>
              </div>
              <div class="containerTranstornoTexto">
                <p>Breve explicação</p>
              </div>
            </div>
          </a>
        </div>

        <div class="cardTranstorno">
          <a
            href="http://google.com"
            style="text-decoration: none; color: black"
            target="blank"
          >
            <div class="containerTranstorno">
              <div class="containerTranstornoTitulo">
                <h4><b>Nome do transtorno</b></h4>
              </div>
              <div class="containerTranstornoTexto">
                <p>Breve explicação</p>
              </div>
            </div>
          </a>
        </div>

        <div class="cardTranstorno">
          <a
            href="http://google.com"
            style="text-decoration: none; color: black"
            target="blank"
          >
            <div class="containerTranstorno">
              <div class="containerTranstornoTitulo">
                <h4><b>Nome do transtorno</b></h4>
              </div>
              <div class="containerTranstornoTexto">
                <p>Breve explicação</p>
              </div>
            </div>
          </a>
        </div>
      </section>

      <section id="secion-doacoes" #doacoes>
        <h1>Doações</h1>
        Eius sapiente ut, repudiandae amet, sunt dolorum autem esse mollitia
        voluptatum quia voluptatibus, odio nihil alias quisquam quidem
        asperiores expedita neque praesentium. Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Excepturi quos dignissimos porro eum
        dolorem nihil alias recusandae? Natus voluptatum, maiores distinctio
        quam quaerat sed. Explicabo omnis sit beatae ratione unde. Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Aliquam dolorum nesciunt
        itaque, beatae rerum tenetur nobis laborum nulla at praesentium,
        temporibus distinctio ad? Odit cupiditate a magni voluptates veritatis?
        Praesentium? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Adipisci quo dignissimos culpa impedit sapiente distinctio voluptatum
        eos. Natus consequatur eius at aperiam, ipsum ab quas a porro debitis!
        Et, ea! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Expedita ut accusantium eveniet unde incidunt sint esse voluptatem rem
        similique, perspiciatis recusandae eaque omnis id sapiente iure ea ab
        est culpa? ratione unde. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Aliquam dolorum nesciunt itaque, beatae rerum tenetur
        nobis laborum nulla at praesentium, temporibus distinctio ad? Odit
        cupiditate a magni voluptates veritatis? Praesentium? Lorem ipsum, dolor
        sit amet consectetur adipisicing elit. Adipisci quo dignissimos culpa
        impedit sapiente distinctio voluptatum eos. Natus consequatur eius at
        aperiam, ipsum ab quas a porro debitis! Et, ea! Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Expedita ut accusantium eveniet unde
        incidunt sint esse voluptatem rem similique, perspiciatis recusandae
        eaque omnis id sapiente iure ea ab est culpa?tur consequuntur!
      </section>
      <hr />
      <section id="secion-contato" #contato>
        <img src="assets/apae.png" />
        <div class="contato">
          <h1>Contato</h1>
          <div style="margin-top: 0.5rem"><b>Telefone:</b> (31) XXXX-XXXX</div>
          <div style="margin-top: 0.5rem">
            <b>Endereço:</b> R. Natalino Martins de Souza, Nº 03
            <br />
            Piedade de Ponte Nova - MG, 35382-000
          </div>
          <div style="margin-top: 0.5rem">
            <b>E-mail:</b> piedadedepontenova@apaemg.org.br
          </div>
          <div style="margin-top: 0.5rem"><b>Facebook:</b> ApaePiedadePN</div>
        </div>
        <div class="informacoes">
          <h1>Informações úteis</h1>
          <div style="margin-top: 0.5rem">
            <b>Horario de funcionamento:</b> Matutino - 08:00 às 12:15
          </div>
          <div style="margin-top: 0.5rem">
            <b>Modalidade de ensino ofertado:</b> Educação Básica
          </div>
          <div style="margin-top: 0.5rem">
            <b>Registro na Federação Nacional das APAES:</b> n.º 1855/2004
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
